<div class="scroll-to-top scroll-back-button w-button" [ngClass]="{'show-scrollTop': windowScrolled}">
    <button type="button" class="btn active" data-toggle="button" aria-pressed="true" (click)="scrollToTop()" style="color:#8e8074;">
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" xml:space="preserve"><path d="M33.454 17.627c-.756-.801-2.152-.801-2.908 0l-17 18a2 2 0 0 0 2.908 2.746L32 21.913l15.546 16.46c.393.417.923.627 1.454.627a2 2 0 0 0 1.454-3.373l-17-18z" fill="#8e8074" /></svg>
    </button>
  </div>
